<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
</head>
<body>
    <center>
        {{>header}}
        <h1>Opps, 404</h1>
        <h3>{{text}}</h3>
        <img width="300px" src="404.png" alt="">
        {{>footer}}
    </center>
</body>
</html>


