<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
</head>
<body>
    <center>
        {{>header}}
        <form>
            <input type="text">
            <button>Check weather</button><br><br>
            <h3 id="weatherText"></h3>
        </form>
        {{>footer}}
    </center>
</body>
</html>


